.itemContainer {
  width: calc(100% - 40px);
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin: 20px auto;
  overflow: hidden;
  font-family: PolySans, sans-serif;
}

.itemImage {
  max-width: 100%;
  height: auto;
}

.itemContent {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}

.itemName {
  font-size: 1em;
  font-weight: 600;
  color: #393e46;
  margin: 0;
}

.itemButton {
  background-color: #4169e1;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.itemButton:hover {
  background-color: #365bb8;
}

.buttonContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .itemContainer {
    width: 300px;
    margin-left: 60px;
    margin-right: 20px;
  }
}
